body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e9ebee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.button {
  background-color: #aed1f7;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
